<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426663275188-r2f6lblo9naprjo0ul9mim8vq7lba35d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426663275188-r2f6lblo9naprjo0ul9mim8vq7lba35d</string>
	<key>API_KEY</key>
	<string>AIzaSyDRPlHjSfi-HJ1SS58-OGg-Y8i15JtEgxg</string>
	<key>GCM_SENDER_ID</key>
	<string>426663275188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.girenes.Horus</string>
	<key>PROJECT_ID</key>
	<string>horus-weather-app-8eb89</string>
	<key>STORAGE_BUCKET</key>
	<string>horus-weather-app-8eb89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426663275188:ios:b3737d97658dac857b85e1</string>
</dict>
</plist>